@charset "UTF-8";

:root {
    font-size: 0.9rem;
}
body {
    height: 100vh;
    /* mobile viewport bug fix */
    height: -webkit-fill-available;
}
   
html {
    height: -webkit-fill-available;
}
#viewer {
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.viewer-progress {
    height: 0.2rem;
}

.viewer-canvas-outer {
    flex: 1;
    overflow: hidden;
}
.trim-15 {
    display: inline-block;
    max-width: 15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
table {
    width: 100%;
}
